<html>

    <head>
        <title>{{ name }} sale info</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static "css/style.css"%}">

        <link rel="stylesheet" href="https://github.com/zhufyakvv/UsingDataWizAPI/blob/master/static/css/style.css">
    </head>
    <body>
    <table class="scroll">
    <tr><th>Navigation:</th></tr>
    <tr><td><a href="#raised">Raised</a></td></tr>
    <tr><td><a href="#fall">Fall</a></td></tr>
    </table>
    <form method="POST">
        {% csrf_token %}
        <input name="date_from" type="date" value="{{ date_from }}">
        <input name="date_to" type="date" value="{{ date_to }}">
        <br><button type="submit">Recount</button>
    </form>

    <table id="raised">
    <caption>Raised in sale</caption>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Turnover change</th>
            <th>Sale change</th>
        </tr>
        {%  for key, value in data.items %}
            {% if value.sale > 0 %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value.product.product_name}}</td>
                    <td>{{value.turnover}}</td>
                    <td>{{value.sale}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <table id="fall">
    <caption>Fall in sale</caption>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Turnover change</th>
            <th>Sale change</th>
        </tr>
        {%  for key, value in data.items %}
            {% if value.sale < 0 %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value.product.product_name}}</td>
                    <td>{{value.turnover}}</td>
                    <td>{{value.sale}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    </body>
</html>