<html>
    <head>
        <title> Shop - {{ id }} </title>
    </head>

    <body>
    <table>
        <tr>
            <th>Name: </th>
            <th>{{ shop.name }}</th>
        </tr>
        <tr>
            <td>Location:</td>
            <td><a href="http://maps.google.com/?q={{ shop.address }}">{{ shop.address }}</a></td>
        </tr>
        <tr>
            <td>Latitude:</td>
            <td>{{ shop.latitude }}</td>
        </tr>
        <tr>
            <td>Date of opening:</td>
            <td>{{ shop.open_date }}</td>
        </tr>
    </table>
    <ul>
        <li><a href="/turnover/{{ id }}">Turnover</a></li>
        <li><a href="/sale/{{ id }}">Sale</a></li>
    </ul>
    </body>
</html>