<html>
    <head>
        <title> Shop - {{ id }} </title>
    </head>

    <body>
    <table>
        <tr>
            <td>Name: </td>
            <td>{{ shop.name }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><a href="http://maps.google.com/?q={{ shop.address }}">{{ shop.address }}</a></td>
        </tr>
        <tr>
            <td>Latitude:</td>
            <td>{{ shop.latitude }}</td>
        </tr>
        <tr>
            <td>Date of opening:</td>
            <td>{{ shop.open_date }}</td>
        </tr>
        <tr>
            <td>Sale:</td>
            <td><a href="/sale/{{ id }}">{{ shop.name }} sale</a> </td>
        </tr>
        <tr>
            <td>Turnover:</td>
            <td><a href="/turnover/{{ id }}">{{ shop.name }} turnover</a></td>
        </tr>
    </table>
    </body>
</html>