<html>

    <head>
        <title>Welcome dear client!</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static "css/style.css"%}">
    </head>
    <body>
    <form method="POST">
        <img src="http://trademaster.ua/im/7649690-logo-2.png">
        {% csrf_token %}
        <br><input name="login" type="text" value="{{ login }}" size="53">
        <br><input name="password" type="password" value="{{ password }}" size="53">
        <br><button type="submit">Sign In</button>
    </form>
    </body>
</html>