<html>
    <head>
        <title>{{ user.name }} Page</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static "css/style.css"%}">
    </head>
    <body>
    <table>
        <tr><th>Welcome {{ user.name }}</th></tr>
        <tr><td>{{ user.date_from }} - {{ user.date_to }}</td></tr>
        <tr><th>Shops:</th></tr>

        {% for key, value in shops.items %}
            <tr><td><a href="shop/{{ key }}">{{ value.name }} ({{ value.address }})</a></td></tr>
        {% endfor %}
    </table>
    </body>
</html>